<!doctype html>
<html>
<head>
  <title>Play game</title>
</head>
<body>
    <form action="/madlib">
        Please enter:<br>
       <p>Person:    <input type="text" name="person"></p>
       <p>Color:     <select name="color">
                        <option value="color">Color</option>
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="pink">Pink</option>
                        <option value="grey">Grey</option> <
                    </select>
        </p>
       <p>Noun:      <input type="text" name="noun"></p>
       <p>Adjective: <input type="text" name="adjective"></p>
       <input type="submit">
    </form>
</body>
</html>