<!doctype html>
<html>
<head>
    <title>madlib</title>
    <style>
    p{
        margin: 50px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: lighter;
    }

    span{
        font-style: italic;
        color: purple;
        font-weight: bold;
    }

    </style>
</head>
<body>
    <p>
A vacation is when <span>{{ person }}</span> takes a trip to some <span>{{ adjective1 }} </span> with <span>{{ person }}</span>'s <span>{{ adjective2 }}</span> family.
Usually <span>{{ person }}</span> goes to some place that is near a/an <span>{{ noun1 }}</span> or up on a/an <span>{{ noun2 }}</span>.
    </p>

</body>
</html>